* {
    box-sizing: border-box;
}
body {
    background-color: #FFECD5;
}

/* ********************************************************** */
/* ****************       HEADER        ********************* */
/* ********************************************************** */

.header{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
.header h2{
    border-top: 4px solid black;
    text-align: right;
    padding-top: 20px;
}
.header h1{
    border-bottom: 4px solid black;
    margin-top: 0;
    padding-bottom: 20px;
}

/* ********************************************************** */
/* ****************        MAIN         ********************* */
/* ********************************************************** */



/* ********************************************************** */
/* ****************       FOOTER        ********************* */
/* ********************************************************** */